<% layout("/layouts/boilerplate.ejs") %>
<body> 
     <br><br><br> 
  <div class="row">
        <div class="col-8 offset-2">
    <h3>Create a new listing</h3>
       <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data"> 
        
                
            
            <div class="mb-1.5">
            <label for="title" class="form-label">Title</label>
             <input required type="text" name="listing[title]" placeholder="enter the title" class="form-control"> 
             
             <div class="valid-feedback">Title Looks good!</div>
             
            </div>
       
      <div class="mb-1.5">  
        <label  for="description" class="form-label">Description</label>
        <textarea  name="listing[description]" class="form-control" required>   </textarea>
      
        <div class="invalid-feedback">Please enter short description</div>
      
      </div>
      
     


     <div class="mb-1.5">
      <label for="image" class="form-label">Upload image</label>
      <input type="file" name="listing[image]"  class="form-control">
   </div>

     <div class="row">
  
      <div class="mb-1.5 col-md-4">
        <label for="price" class="form-label">Enter Price</label>
        <input required  name="listing[price]" placeholder="enter price" class="form-control">
       
        <div class="invalid-feedback">Please enter the valid price</div>
       
      </div>
        
      <div class="mb-1.5 col-md-8">
        <label for="country" class="form-label">Enter Country</label> 
        <input required type="text" name="listing[country]" placeholder="enter country" class="form-control"> 
       
        <div class="invalid-feedback">Enter valid Country</div>
      </div>


     </div>
        
      
       
      <div class="mb-1.5">
        <label for="location" class="form-label">Enter Location</label> 
        <input required type="text" name="listing[location]" placeholder="enter the location" class="form-control">
        <div class="invalid-feedback">Invalid Location</div>
      </div>
      
      <br>
    <button class="btn btn-dark add-btn"> ADD</button>
        <br><br>
       </form>
 
    </div> 
      </div> 



</body>
